<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd">

    <bean id="dataSourceA" class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init" destroy-method="close">
        <property name="uniqueResourceName" value="db/dataSourceA"/>
        <property name="xaDataSourceClassName" value="com.mysql.jdbc.jdbc2.optional.MysqlXADataSource"/>
        <property name="xaProperties">
            <props>
                <prop key="user">root</prop>
                <prop key="password">gaohuan0904</prop>
                <prop key="portNumber">3306</prop>
                <prop key="databaseName">tomdb</prop>
            </props>
        </property>
        <property name="poolSize" value="10"/>
        <property name="reapTimeout" value="2000"/>

    </bean>

    <bean id="dataSourceB" class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init" destroy-method="close">
        <property name="uniqueResourceName" value="db/dataSourceB"/>
        <property name="xaDataSourceClassName" value="com.mysql.jdbc.jdbc2.optional.MysqlXADataSource"/>
        <property name="xaProperties">
            <props>
                <prop key="user">root</prop>
                <prop key="password">gaohuan0904</prop>
                <prop key="portNumber">3306</prop>
                <prop key="databaseName">javaee</prop>
            </props>
        </property>
        <property name="poolSize" value="10"/>
        <property name="reapTimeout" value="2000"/>

    </bean>
    <bean id="xaRabbitConnectionFactory" class="com.atomikos.jms.AtomikosConnectionFactoryBean" init-method="init"
          destroy-method="close">
        <property name="uniqueResourceName" value="amq1"/>
        <property name="xaConnectionFactory" ref="rabbitConnectionFactory"/>
    </bean>

    <bean id="userTransactionManager" class="com.atomikos.icatch.jta.UserTransactionManager">
        <property name="forceShutdown" value="true"/>
    </bean>

    <bean id="userTransaction" class="com.atomikos.icatch.jta.UserTransactionImp"/>

    <bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
        <property name="userTransaction" ref="userTransaction"/>
        <property name="transactionManager" ref="userTransactionManager"/>
    </bean>


    <!--rabbit-->

    <rabbit:connection-factory id="rabbitConnectionFactory" host="localhost" port="5672"/>

    <rabbit:admin connection-factory="rabbitConnectionFactory"/>

    <rabbit:queue id="rabbit_queue" durable="true" auto-delete="false" exclusive="false" name="rabbit_queue"/>

    <rabbit:direct-exchange id="rabbit_exchange" name="rabbit_exchange" durable="true" auto-delete="true">
        <rabbit:bindings>
            <rabbit:binding queue="rabbit_queue" key="rabbit_queue_key"></rabbit:binding>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:template exchange="rabbit_exchange" id="rabbitTemplate" connection-factory="rabbitConnectionFactory"/>

    <rabbit:listener-container connection-factory="rabbitConnectionFactory">
        <rabbit:listener ref="rabbitConsumer" method="onMessage" queue-names="rabbit_queue"/>
    </rabbit:listener-container>

    <bean id="rabbitProducer" class="com.gaohuan.jta.RabbitProducer">
        <property name="rabbitTemplate" ref="rabbitTemplate"/>
    </bean>

    <bean id="rabbitConsumer" class="com.gaohuan.jta.RabbitConsumer"/>

</beans>